/*Utviklet av Erlend. Sist endret 30.04.17*/

#bilder_kontrollpanel, .bildeinfo_container, .bildeopplast_container, #søkewrapper {
    display: inline-block;
    width: 330px;
    height: auto;
    border: black solid 2px;
    margin: 15px 15px 15px 15px;
    font-weight: bold;
    text-align: center;
    background-color: white;
}

#søkewrapper {
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.søk_knapp {
    background: #16aa56;
    border: 0;
    width: auto;
    margin-top: 3px;
    height: auto;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    border: none;
    padding: 5px;

}

.søk_knapp:hover {
    background: #61aa74;
    color: white;
}
.search_form {
    display: inline-block;
}

.plassering {
    width: 70% !important;
    margin: 0 !important;
}

.lenkerDropdown {
    width: 100% !important;
    margin: 0 !important;
}


@media only screen and (max-width: 734px) {

    #content {
        margin: 0 auto;
        text-align: center;
    }

    #bilder_kontrollpanel, .bildeinfo_container, .bildeopplast_container {
        width: 90%;
        overflow: hidden;
    }

    #søk_bilde_search_box {
        width: auto;
    }




}


