/*
Sist endret av Erlend 01.02.2017
Sist sett på av Alex 03.02.2017
*/
.body_content {
  min-height: calc(100vh - 70px);
}
.wrap {
  min-height: 100%;
}

footer{
  display: table;
  background-color: #333;
  border-top: thick;
  color: #f2f2f2;
  font-family: "Kreon";
  position: relative;
  margin-top: 0px; /* negative value of footer height */
  height: 0px;
  clear: both;

}

footer label, ul, h3 {
  margin: 0;
}

footer .navigering h3 {
  padding-left: 15px;
}

.sub_footer_linker a {
  color: gray;
  text-decoration: none;
}

.sub_footer p {
  text-align: right;
}

footer input {
  margin-bottom: 15px;
}

.naviger {
  float: right;
}

footer nav a {
  display:block;
  text-decoration: underline;
  color: #f2f2f2;
}

footer .col-5 {
  float: right;
}

.sub_footer_linker {
  text-align: center;
}

.sub_footer_linker a {
  border-bottom: 1px solid gray;
  cursor: pointer;
  margin-left: 6px;
}

footer nav {
  display: inline-block;
  margin-right: 20px;
}

h3 {
  margin-bottom: 10px;
}

.kontaktinfo ul {
  padding: 0;
  list-style-type: none;
}

.fcol-12 smått {
  border-top: 1px solid #444;
  margin-bottom: 15px;
  text-align: center;
  text-decoration: none;
}

/*Vi har en default bredde på 100% med tanke på mobile enheter*/
[class*="fcol-"] {
  width: 100%;
}

/* Hvis skjermstørrelsen er større enn 700px,
definerer vi 11 seperate kolonne-diver */
@media only screen and (min-width: 600px) {
  /* Desktop: */
  .fcol-1 {width: 8.33%;}
  .fcol-2 {width: 16.66%;}
  .fcol-3 {width: 25%;}
  .fcol-4 {width: 33.33%;}
  .fcol-5 {width: 41.66%;}
  .fcol-6 {width: 50%;}
  .fcol-7 {width: 58.33%;}
  .fcol-8 {width: 66.66%;}
  .fcol-9 {width: 75%;}
  .fcol-10 {width: 83.33%;}
  .fcol-11 {width: 91.66%;}

  [class*="fcol-"] {
    float: left;
    padding: 15px;
  }

  .sub_footer {
    border-top: 1px solid gray;
    margin-right: 20px;
  }

  /*Når bredden er 100%, ønsker vi ingen padding eller marger*/
  .fcol-12 {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  section .col-4, .col-5 {
    padding-top: 0;
  }

/*
Fiks for footer plassering - hkjhasd
*/
html, body {height: 100%;}
  .rowfooter::after {
    content: "";
    display: table; }